.spyproject/config/codestyle.ini
.spyproject/config/encoding.ini
.spyproject/config/vcs.ini
.spyproject/config/workspace.ini
.spyproject/config/backups/codestyle.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
__pycache__/blender_util.cpython-37.pyc
__pycache__/blender.cpython-37.pyc
__pycache__/grid_util.cpython-37.pyc
__pycache__/location.cpython-37.pyc
__pycache__/paffine_util.cpython-37.pyc
__pycache__/paffine.cpython-37.pyc
__pycache__/rpcfit_util.cpython-37.pyc
__pycache__/s2p_configurator.cpython-37.pyc
__pycache__/sat_util.cpython-37.pyc
__pycache__/satellite.cpython-37.pyc
__pycache__/simulator.cpython-37.pyc
__pycache__/util.cpython-37.pyc
__pycache__/utils.cpython-37.pyc


*.png
/data
/ponomarenko


